<div
  class="d-flex flex-column w-100"
  *ngIf="type && student"
>
  <form #form="ngForm">
    <label matLabel>{{'NOTES.NOTE' | translate}}</label>

    <div class="d-flex flex-row justify-content-start my-4 w-100">

      <i
        class="fa-regular fa-face-smile fa-2x text-success mx-2"
        [ngClass]="{'fa-solid': type===NOTETYPE.GOOD}"
        (click)="setType(NOTETYPE.GOOD)"
      ></i>
      <i
        class="fa-regular fa-face-frown fa-2x text-danger mx-2"
        [ngClass]="{'fa-solid': type===NOTETYPE.BAD}"
        (click)="setType(NOTETYPE.BAD)"
      ></i>
    </div>
    <textarea
      [(ngModel)]="note.note"
      matInput
      rows="6"
      name="note"
      class="w-100"
      [placeholder]="'NOTES.ADD_NOTE' | translate"
    ></textarea>

    <div class="d-flex flex-row justify-content-between my-4 w-100">
      <button
        mat-raised-button
        (click)="closeModal()"
      >{{'NOTES.CANCEL' | translate}}</button>

      <button
        class="mx-3"
        mat-raised-button
        color="primary"
        (click)="addNote()"
      >{{'NOTES.ADD_NOTE' | translate}}</button>
    </div>
  </form>
</div>