<div class="d-flex flex-row justify-content-between">
  {{ "selectedDate" | translate }}: {{ selectedDate | date: "dd.MM.YYYY" }}
  <i class="fa fa-2x fa-close m-2" (click)="closeModal()"></i>
</div>

<mat-divider class="mb-4"></mat-divider>

<div class="d-flex flex-column p-3">
  @for (student of students; track student.id) {
    <div class="d-flex flex-row align-items-center">
      <i
        class="fa fa-2x fa-circle-info my-2 mx-2"
        placement="right"
        container="body"
        [ngbPopover]="popContentInfo"
        [popoverTitle]="popTitleInfo"
      ></i>
      <i
        class="fa-regular fa-2x fa-note-sticky text-danger mx-2"
        (click)="openNotesModal(NOTETYPE.BAD, student)"
      ></i>
      <i class="fa fa-2x fa-edit mx-2" (click)="openModal(student)"> </i>

      <ng-template #popTitleInfo>
        {{ "info" | translate }}
      </ng-template>
      <ng-template #popContentInfo>
        <p>
          <b>{{ "emergency" | translate }}</b
          ><br />
          {{ student.info.emergency.name }}<br />
          {{ student.info.emergency.phone }}
        </p>
        <p>
          <b>{{ "departmentHead" | translate }}</b
          ><br />
          {{ student.info.departmentHead.name }}<br />
          {{ student.info.departmentHead.phone }}
        </p>
        <p>
          <b>{{ "sports.sports" | translate }}</b>
        </p>
        @for (sport of student.info.sports; track sport) {
          {{ sport | translate }}
        }
      </ng-template>

      <span>{{ student.firstName }} {{ student.lastName }}</span>
    </div>
    <hr />
  }
</div>
<!-- <hr /> -->

<!-- @for (student of students; track student.id) {
  <tr>
    <td class="text-center first-col no-border">
      <ul class="info">
        <ng-template #popTitleInfo>
          {{ "info" | translate }}
        </ng-template>
        <ng-template #popContentInfo>
          <p>
            <b>{{ "emergency" | translate }}</b
            ><br />
            {{ student.info.emergency.name }}<br />
            {{ student.info.emergency.phone }}
          </p>
          <p>
            <b>{{ "departmentHead" | translate }}</b
            ><br />
            {{ student.info.departmentHead.name }}<br />
            {{ student.info.departmentHead.phone }}
          </p>
          <p>
            <b>{{ "sports.sports" | translate }}</b>
          </p>
          @for (sport of student.info.sports; track sport) {
            {{ sport | translate }}
          }
        </ng-template>
        <li>
          <i
            class="fa fa-circle-info my-2"
            [ngbPopover]="popContentInfo"
            [popoverTitle]="popTitleInfo"
            placement="right"
            container="body"
          ></i>
        </li>
        <ng-template #popTitleIssue>
          {{ "issues" | translate }}
        </ng-template>
        <ng-template #popContentIssue>
          {{ student.issues }}
        </ng-template>
        <li
          [ngStyle]="{
            visibility: student.issues.length > 0 ? 'visible' : 'hidden',
          }"
        >
          @if (student.issues.length > 0) {
            <i
              class="fa fa-heart text-danger"
              placement="right"
              [ngbPopover]="popContentIssue"
              [popoverTitle]="popTitleIssue"
              container="body"
            ></i>
          }
        </li>
      </ul>
    </td>

    <td class="student" [style.lineHeight.px]="50">
      {{ student.firstName }} {{ student.lastName }}
    </td>

    <td class="notes-col">
      <ul class="notes">
        <li>
          <i
            class="fa-regular fa-note-sticky"
            (click)="openNotesModal(NOTETYPE.GOOD, student)"
          ></i>
        </li>
        <li>
          <i
            class="fa-regular fa-note-sticky text-danger"
            (click)="openNotesModal(NOTETYPE.BAD, student)"
          ></i>
        </li>
      </ul>
    </td>

    <td class="options">
      <app-options (selectedOption)="fetchSelectedOption($event)"></app-options>
    </td>
  </tr>
} -->
